body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
    background-image: url("img/sfondo_01.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


h1 {
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 10px;
    color: #ffc700;
    text-shadow: 0 4px 10px rgb(255 2 2 / 84%);
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
    color: #ffc700;
    text-shadow: 0 4px 10px rgb(255 2 2 / 84%);
}

h3 {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
    color: #5bc027;
    text-shadow: 2px 2px 4px rgb(0 0 0);
}

h4 {
    margin: 0;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
}


.card {
    background: #ffc700ba;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    box-shadow: 4px 4px 2px rgb(255 2 2 / 62%);
    text-align: center;
}


    .card img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 10px;
    }


#footer-gif-bar {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: transparent;
}

    #footer-gif-bar img {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }
