body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
    background-image: url("img/sfondo_01.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


h1 {
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 10px;
    color: #ffc700;
    text-shadow: 0 4px 10px rgb(255 2 2 / 84%);
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
    color: #ffc700;
    text-shadow: 0 4px 10px rgb(255 2 2 / 84%);
}

h3 {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
    color: rgba(0, 255, 0, 1);
    text-shadow: 2px 2px 4px rgb(0 0 0);
}

h4 {
    margin: 0;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;

}


.card {
    background: #ffc700ba;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    box-shadow: 4px 4px 2px rgb(255 2 2 / 62%);
    text-align: center;
}

.app-card {
    background: rgba(0, 255, 0, 0.6);
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    box-shadow: 4px 4px 2px rgb(255 2 2 / 62%);
    text-align: center;
}

    .card img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 10px;
    }



#footer-gif-bar {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: transparent;
}

    #footer-gif-bar img {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }

/* Responsive per schermi sotto i 480px */
@media (max-width: 480px) {
    body {
        padding: 10px;
        background-attachment: scroll;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 8px;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 8px;
    }

    h3 {
        font-size: 1.1rem;
        margin-bottom: 8px;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr); /* due colonne */
        gap: 10px;
    }

    .card,
    .app-card {
        padding: 6px;
        border-radius: 8px;
    }

        .card img,
        .app-card img {
            height: 90px;
            margin-bottom: 6px;
        }

    #footer-gif-bar {
        position: static;
        height: auto;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }

        #footer-gif-bar img {
            width: 30px;
            height: 30px;
            margin: 2px;
        }
}
